# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables and secrets
.env
.env.test
.env.local

# Build outputs
output/
dist/
build/
.next/
out/
.nuxt/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing and coverage
coverage/
.nyc_output

# Cache folders
.npm
.eslintcache
.parcel-cache
.cache
*.txt
