# Modo local (Docker)
DB_MODE=local
DB_HOST=localhost
DB_PORT=5433
DB_NAME=advisors_db
DB_USER=advisor_user
DB_PASSWORD=advisor_local_pass
DATABASE_URL=xd

# Modo cloud (RDS) - descomentar para usar
# DB_MODE=cloud
# DB_HOST=your-rds-endpoint.us-east-2.rds.amazonaws.com
# DB_PORT=5432
# DB_NAME=advisors_db
# DB_USER=advisor_user
# DB_PASSWORD=your_rds_password

# Ruta a embeddings.json (Fase 2 output)
EMBEDDINGS_PATH=../2-text-embedding/output/embeddings.json
# Ruta a advisors.json (Fase 1 output)
ADVISORS_PATH=../1-scraper/output/advisors.json
